* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  /* padding: 0 0.8rem; */
}

ul {
  list-style: none;
}

/* Header */

header {
  background-color: #252b48;
  color: white;
  padding: 3rem 0 2rem 0;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.header__wrapper,
main {
  margin: 0 2rem;
}

h1 {
  font-size: 3rem;
}

.sub-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.overview {
  font-size: 1.3rem;
}

h1,
.sub-title {
  padding-bottom: 0.8rem;
}

/* Links */

.links {
  display: flex;
  gap: 2.5rem;
}

.link-icon {
  color: white;
  text-decoration: none;
}

.icon-img {
  font-size: 2rem;
}

.link-text {
  display: none;
}

/* Main Content */

main {
  padding-top: 1.5rem;
}

main > p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

h2 {
  text-align: center;
  border: 2px dotted;
  width: 8rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* Media Queries */

@media (min-width: 768px) {
  /* Header */
  .header__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header__wrapper,
  main {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 48rem;
    margin: 0 auto;
  }

  .header__left {
    max-width: 60%;
  }

  .header__right {
    max-width: 40%;
    border-left: 1px solid silver;
    padding-left: 1.8rem;
  }

  .links {
    flex-direction: column;
    gap: 1.2rem;
  }

  .icon-img {
    font-size: 2rem;
  }

  .link-text {
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: underline;
  }
}
